name: Telegram Bot Runner

on:
  push:
    branches: [ main ]  # يعمل عند رفع كود جديد
  schedule:
    - cron: '0 */6 * * *' # إعادة تشغيل تلقائية كل 6 ساعات لضمان الاستمرار
  workflow_dispatch:      # يتيح لك تشغيله يدوياً

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/checkout@v3
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Data Directory
        run: mkdir -p data # لضمان وجود مجلد قاعدة البيانات

      - name: Run Bot
        env:
          # إذا كنت تستخدم التوكن من الإعدادات (Secrets) لزيادة الأمان
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python main.py
